*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    max-width: 500px;
    max-height: 900px;
    border-radius: 10px;
    color: black;
    text-align: center;
    gap: 20px;
    background-color: azure;
}
.text_container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}
.text_container a{
    text-decoration: none;
    color: white;
    border: black 2px solid;
    background-color: black;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.text_container a:hover{
    background-color: white;
    color: black;
    border: #111 2px solid;
}